<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <h3>Student Number: 14523436</h2>

	<h3>Prgramming Skills</h3>
	<ul>
	  <li>Rails: average</li>
	  <li>C++: leaning</li>
		<li>Php: expert</li>
		<li>Java: expert</li>
		<li>Python: expert</li>
		
		
	</ul>

	<h3>Contact information</h3>
	<ul>
		<li>Phone: 0863641689</li>
		<li>House: 01 23456789</li>
		<li>email: haiderbari@rocketmail</li>
	</ul>

	<h3>List of subjects I am studying in college</h3>
	<ul>
		<li>Managing Big Data BSCH-MBD</li>
		<li>Concurrent Programming BSCH-CPG</li>
		<li>Cloud Services & Platforms BSCH-CSP</li>
		<li>Web Frameworks BSCH-WF</li>
		<li>Distributed Systems BSCH-DS</li>
		<li>Advanced Network Theory BSCH-ANT</li>
		<li>Emerging Technologies BSCH-ET</li>
	</ul>

	<h3>My Hobbies</h3>
	<ul>
		<li>reading</li>
		<li>walking</li>
		<li>football</li>
	</ul>
      </h1>
    </section>
  </aside>
</div>